.App {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.title {
  color: white;
}

.wordle-blocks {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.word-blocks {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.block {
  height: 60px;
  width: 60px;
  border: rgb(90, 90, 90) 1px solid;
}

.keyboard {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.keyboard-row-1,
.keyboard-row-2,
.keyboard-row-3 {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.key {
  height: 38px;
  width: 24px;
  color: white;
  padding: 10px;
  border: 1px grey solid;
  background-color: grey;
  border-radius: 10%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.key:hover {
  background-color: rgb(156, 156, 156);
}

.key:active {
  background-color: rgb(185, 184, 184);
}

.key-delete,
.key-enter {
  width: 50px;
}
