.App {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.title {
  color: white;
}

.wordle-blocks {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.word-blocks {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.block {
  height: 60px;
  width: 60px;
  border: rgb(90, 90, 90) 1px solid;
  color: white;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.keyboard-row-1,
.keyboard-row-2,
.keyboard-row-3 {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.key {
  height: 38px;
  width: 24px;
  color: white;
  padding: 10px;
  border: 1px grey solid;
  background-color: grey;
  border-radius: 10%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.key:hover {
  background-color: rgb(156, 156, 156);
}

.key:active {
  background-color: rgb(185, 184, 184);
}

.key-delete,
.key-enter {
  width: 50px;
}

.greyOut {
  background-color: rgb(71, 71, 71);
}

.green {
  background-color: green;
}

.yellow {
  background-color: rgb(209, 209, 71);
}

.error-message {
  width: 120px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 10vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

@keyframes nudge {
  0% {
    transform: translateX(5px);
  }

  33% {
    transform: translateX(-5px);
  }

  66% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}

.nudging {
  animation: nudge 0.2s linear;
}
